# Glider 规则配置文件。
#
# 格式与 glider 主配置文件相同。
# 注意：此处不允许设置监听器（Listener）。

# 转发器
# ----------
# 可以设置多个转发器。
forward=socks5://192.168.1.10:1080
forward=ss://method:pass@1.1.1.1:8443
forward=http://192.168.2.1:8080,socks5://192.168.2.2:1080

# 多转发器策略。rr（轮询）|ha（高可用）
strategy=rr

# 转发器健康检查设置
check=http://www.msftconnecttest.com/connecttest.txt#expect=200
checkinterval=30

# 本规则文件中域名使用的 DNS 服务器
dnsserver=208.67.222.222:53

# IPSET 管理
# ----------------
# 在 Linux 上基于规则文件中的目标地址创建和管理 ipset
#   - 启动时添加规则文件中的 IP/CIDR
#   - 通过 DNS 转发服务器为规则文件中的域名添加解析 IP
# 通常用于 Linux 上的透明代理模式
# 注意：这将创建 2 个 ipset：glider（IPv4）和 glider6（IPv6）
ipset=glider

# 目标地址
# ------------
# 所有匹配以下规则的目标将使用上面指定的转发器转发

# 包含文件
# 可以包含一个只含目标地址设置的列表文件
include=office.list

# 匹配 example.com 和 *.example.com
domain=example.com
domain=example1.com
domain=example2.com
domain=example3.com

# 匹配 IP
ip=1.1.1.1
ip=2.2.2.2
ip=3.3.3.3

# 匹配 IP 段
cidr=192.168.100.0/24
cidr=172.16.100.0/24
